{{>top}}
<div class="parallax-container">
    <div class="parallax"><img src="media/images/paralax_top.jpg"></div>
    <div id="jumbotron" class="container">
        <h1 class="header center green-text">Valentin Carmignac</h1>
        <div class="row ">
            <div class="header col s2"><img class="responsive-img circle" src="media/images/profil.jpg"></div>
            <h5 class="header col s8 light">Bienvenue, ce site est mon portfolio. D&eacute;couvrez-y mon profil, exp&eacute;riences et projets. Je suis un jeune ing&eacute;nieur aimant son travail et aimant bouger. <br/><br/>Bonne visite !</h5>
        </div>
        <br><br>
    </div>
</div>

<!-- CONTENU -->
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 l12">
                <div class="card small">
                    <div class="card-image">
                        <img src="asset/images/background/bg3.png">
                        <span class="card-title">Curriculum Vitae</span>
                    </div>
                    <div class="card-content">
                        <p>Experience I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="./experience">Plus d'informations<i class="mdi-navigation-chevron-right right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card small">
                    <div class="card-image">
                        <img src="asset/images/background/bg4.png">
                        <span class="card-title">Projets</span>
                    </div>
                    <div class="card-content">
                        <p>PROKETS I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="./projets">Plus d'informations<i class="mdi-navigation-chevron-right right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card small">
                    <div class="card-image">
                        <img src="asset/images/background/alizarin.png">
                        <span class="card-title">Loisirs</span>
                    </div>
                    <div class="card-content">
                        <p>Experience I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="./loisirs">Plus d'informations<i class="mdi-navigation-chevron-right right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>bottom}}