{{>top}}
<div class="parallax-container">
    <div class="parallax"><img src="media/images/paralax_top.jpg"></div>
    <div id="jumbotron" class="container">
        <h1 class="header center grey-text text-darken-4">Valentin Carmignac</h1>
        <div class="row ">
            <div class="header col s2"><img class="responsive-img circle" src="media/images/profil.jpg"></div>
            <h5 class="header col s8 light">{{#i18n}}accueil.jumbotron{{/i18n}}</h5>
        </div>
        <br><br>
    </div>
</div>

<!-- CONTENU -->
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 l12">
                <div class="card small">
                    <div class="card-image">
                        <img src="asset/images/background/bg3.png">
                        <span class="card-title">{{#i18n}}resume.title{{/i18n}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{#i18n}}resume.short_desc{{/i18n}}</p>
                    </div>
                    <div class="card-action">
                        <a href="./experience">{{#i18n}}accueil.more{{/i18n}}<i class="mdi-navigation-chevron-right right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card small">
                    <div class="card-image">
                        <img src="asset/images/background/bg4.png">
                        <span class="card-title">{{#i18n}}project.title{{/i18n}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{#i18n}}project.short_desc{{/i18n}}</p>
                    </div>
                    <div class="card-action">
                        <a href="./projets">{{#i18n}}accueil.more{{/i18n}}<i class="mdi-navigation-chevron-right right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card small">
                    <div class="card-image">
                        <img src="asset/images/background/alizarin.png">
                        <span class="card-title">{{#i18n}}loisirs.title{{/i18n}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{#i18n}}loisirs.short_desc{{/i18n}}</p>
                    </div>
                    <div class="card-action">
                        <a href="./loisirs">{{#i18n}}accueil.more{{/i18n}}<i class="mdi-navigation-chevron-right right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>bottom}}