{{>top}}
{{> section_nav}}
<!-- CONTENU -->
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m12 l12">
                <section>
                    <h3>{{#i18n}}resume.professional.title{{/i18n}}</h3>
                    <label class="hide-on-large-only">{{#i18n}}resume.show{{/i18n}}</label>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                <img src="media/images/bittle_mini_logo.png" height="24px" width="24px">
                                {{#i18n}}resume.professional.bittle.title{{/i18n}}
                                <i class="mdi-navigation-expand-more right hide-on-small-only"></i>
                            </div>
                            <div class="collapsible-body">
                                {{#i18n}}resume.professional.bittle.description{{/i18n}}
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <img src="media/images/safran_logo.png" height="24px" width="24px">
                                {{#i18n}}resume.professional.snecma.title{{/i18n}}
                                <i class="mdi-navigation-expand-more right hide-on-small-only"></i>
                            </div>
                            <div class="collapsible-body">
                                {{#i18n}}resume.professional.snecma.description{{/i18n}}
                            </div>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>{{#i18n}}resume.formation.title{{/i18n}}</h3>
                    <ul class="collection z-depth-1">
                        <li class="collection-item">
                            <img src="media/images/3il_logo.png" height="24px" width="24px">
                            {{#i18n}}resume.formation.3il.title{{/i18n}}
                        </li>
                        <li class="collection-item">
                            <img src="media/images/iut_logo.png" height="24px" width="24px">
                            {{#i18n}}resume.formation.iut.title{{/i18n}}
                        </li>
                        <li class="collection-item">
                            <i class="mdi-social-school"></i>
                            {{#i18n}}resume.formation.lycee.title{{/i18n}}
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>{{#i18n}}resume.others.title{{/i18n}}</h3>
                    <ul class="collection z-depth-1">
                        <li class="collection-item">
                            <img src="media/images/bnp_logo.png" height="24px" width="24px">
                            {{#i18n}}resume.others.bnp.title{{/i18n}}
                        </li>
                        <li class="collection-item">
                            <img src="media/images/logo_buffalo_grill.png" height="24px" width="24px">
                            {{#i18n}}resume.others.buffalo.title{{/i18n}}
                        </li>
                        <li class="collection-item">
                            <img src="media/images/sg_logo.png" height="24px" width="24px">
                            {{#i18n}}resume.others.sg.title{{/i18n}}
                        </li>
                        <li class="collection-item">
                            <img src="media/images/stef_logo.png" height="24px" width="24px">
                            {{#i18n}}resume.others.stef.title{{/i18n}}
                        </li>
                    </ul>
                </section>
                <section>
                    <div class="col s12 m6 l6">
                        <div class="card-panel ">
                            <h5>{{#i18n}}resume.skills.technical{{/i18n}}</h5>
                            <span>
                            <p><span class="orange white-text skill-badge">C/C++</span><span class="orange white-text skill-badge">Java</span><span class="orange white-text skill-badge">JEE</span><span class="orange white-text skill-badge">GlassFish</span><span class="orange white-text skill-badge">GWT/GXT</span></p>
                            <p><span class="green white-text skill-badge">HTML 5</span><span class="green white-text skill-badge">CSS 3</span><span class="green white-text skill-badge">Bootstrap</span><span class="green white-text skill-badge">Materialize</span><span class="green white-text skill-badge">Javascript</span><span class="green white-text skill-badge">JQuery</span><span class="green white-text skill-badge">PHP</span><span class="green white-text skill-badge">Apache</span></p>
                            <p><span class="light-blue white-text skill-badge">Oracle 10/11g</span><span class="light-blue white-text skill-badge">MS Access</span><span class="light-blue white-text skill-badge">MySql</span><span class="light-blue white-text skill-badge">PL/SQL</span></p>
                            <p><span class="red white-text skill-badge">Eclipse</span><span class="red white-text skill-badge">Android Studio</span><span class="red white-text skill-badge">Sublime Text</span><span class="red white-text skill-badge">Mantis</span><span class="red white-text skill-badge">SVN</span><span class="red white-text skill-badge">GitHub</span></p>
                            <p><span class="purple white-text skill-badge">Microsoft Windows</span><span class="purple white-text skill-badge">Linux</span></p>
                            </span>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card-panel">
                            <h5>{{#i18n}}resume.skills.social.title{{/i18n}}</h5>
                            <span>
                            <p>{{#i18n}}resume.skills.social.lang{{/i18n}}</p>
                            </span>
                            <span>
                            <p>{{#i18n}}resume.skills.social.eng{{/i18n}}</p>
                            </span>
                            <span>
                            <p>{{#i18n}}resume.skills.social.social{{/i18n}}</p>
                            </span>
                        </div>
                    </div>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <h4>TOEIC</h4>
                        <p>
                        <blockquote>
                            {{#i18n}}resume.skills.toeic.quote{{/i18n}}
                        </blockquote>
                        </p>
                        <p>
                        {{#i18n}}resume.skills.toeic.text{{/i18n}}
                        </p>
                        <div class="action-bar">
                            <a href="#" class="waves-effect waves-orange btn-flat modal-action modal-close">{{#i18n}}resume.skills.toeic.btn{{/i18n}}</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{{>bottom}}