{{>top}}
{{> section_nav}}
<!-- CONTENU -->
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <section>
                    <h3>Experiences professionelles</h3>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Bittle - Apprenti ingénieur Septembre 2012 – Septembre 2015</div>
                            <div class="collapsible-body"><p>Travail au support et à la R&D. Création d’une fonctionnalité d’extraction des données dans un fichier Excel (Java). Modification de l’IHM (Java, GWT, GXT 2 et 3, CSS).</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-maps-place"></i>Safran Snecma - Stagiaire - Avril 2012 – Juin 2012</div>
                            <div class="collapsible-body"><p>Création d’un outil de suivi des espaces de stockages (Java).</p></div>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Formation</h3>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>2012 – 2015  Ecole d’Ingénieur en informatique  3IL Rodez</div>
                            <div class="collapsible-body"><p>Travail au support et à la R&D. Création d’une fonctionnalité d’extraction des données dans un fichier Excel (Java). Modification de l’IHM (Java, GWT, GXT 2 et 3, CSS).</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-maps-place"></i>2009 – 2012  DUT Informatique  IUT d’Aix-en-Provence</div>
                            <div class="collapsible-body"><p>Création d’un outil de suivi des espaces de stockages (Java).</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-maps-place"></i>2006 - 2009  Baccalauréat STI  Lycée Madeleine Fourcade  Spécialité Électronique</div>
                            <div class="collapsible-body"><p>Création d’un outil de suivi des espaces de stockages (Java).</p></div>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Autres experiences</h3>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Juillet 2012  BNP Paribas  Hôte d’accueil</div>
                            <div class="collapsible-body"><p>Travail au support et à la R&D. Création d’une fonctionnalité d’extraction des données dans un fichier Excel (Java). Modification de l’IHM (Java, GWT, GXT 2 et 3, CSS).</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-maps-place"></i>Juillet 2011  Buffalo Grill  Plongeur, préparateur entrée/dessert</div>
                            <div class="collapsible-body"><p>Création d’un outil de suivi des espaces de stockages (Java).</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-maps-place"></i>Juillet 2010  Société Général  Secrétariat</div>
                            <div class="collapsible-body"><p>Création d’un outil de suivi des espaces de stockages (Java).</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-maps-place"></i>Août 2009  STEF-TFE  Préparateur de commande en chambre froide</div>
                            <div class="collapsible-body"><p>Création d’un outil de suivi des espaces de stockages (Java).</p></div>
                        </li>
                    </ul>
                </section>
                <section>
                    <div class="col s6">
                        <div class="card-panel ">
                            <h5>Compétences techniques</h5>
                            <span>
                            <p><span class="orange white-text skill-badge">C/C++</span><span class="orange white-text skill-badge">Java</span><span class="orange white-text skill-badge">JEE</span><span class="orange white-text skill-badge">GlassFish</span><span class="orange white-text skill-badge">GWT/GXT</span></p>
                            <p><span class="green white-text skill-badge">HTML 5</span><span class="green white-text skill-badge">CSS 3</span><span class="green white-text skill-badge">Bootstrap</span><span class="green white-text skill-badge">Materialize</span><span class="green white-text skill-badge">Javascript</span><span class="green white-text skill-badge">JQuery</span><span class="green white-text skill-badge">PHP</span><span class="green white-text skill-badge">Apache</span></p>
                            <p><span class="light-blue white-text skill-badge">Oracle 10/11g</span><span class="light-blue white-text skill-badge">MS Access</span><span class="light-blue white-text skill-badge">MySql</span><span class="light-blue white-text skill-badge">PL/SQL</span></p>
                            <p><span class="red white-text skill-badge">Eclipse</span><span class="red white-text skill-badge">Android Studio</span><span class="red white-text skill-badge">Sublime Text</span><span class="red white-text skill-badge">Mantis</span><span class="red white-text skill-badge">SVN</span><span class="red white-text skill-badge">GitHub</span></p>
                            <p><span class="purple white-text skill-badge">Microsoft Windows</span><span class="purple white-text skill-badge">Linux</span></p>
                            </span>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="card-panel">
                            <h5>Compétences sociales et d'ingénierie</h5>
                            <span>
                            <p><span class="purple white-text skill-badge">Anglais</span><span class="purple white-text skill-badge">TOEIC (935/990)</span></p>
                            </span>
                            <span>
                            <p><span class="purple white-text skill-badge">Merise</span><span class="purple white-text skill-badge">UML</span><span class="purple white-text skill-badge">Gestion de projet</span></p>
                            </span>
                            <span>
                            <p><span class="purple white-text skill-badge">Management & RH</span><span class="purple white-text skill-badge">Marketing</span><span class="purple white-text skill-badge">Conduite de réunion</span><span class="purple white-text skill-badge">Marketing</span><span class="purple white-text skill-badge">Management des Systèmes d'information</span><span class="purple white-text skill-badge">Droit</span></p>
                            </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{{>bottom}}