<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Valentin CARMIGNAC</title>
        <!-- CSS  -->
        <link href="asset/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="asset/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <style type="text/css">
                body {
                    margin: 0;
                    padding: 0;
                    background: url(asset/images/background/black.png) no-repeat center fixed;
                    -webkit-background-size: cover;
                    /* pour anciens Chrome et Safari */
                    background-size: cover;
                    /* version standardisée */
                }
        </style>
    </head>
    <body>
        <div class="outer-error">
            <div class="container">
                <div class="row valign-wrapper">
                    <div class="col l6 offset-l1 grey-text lighten-5-text">
                        <h1 class="header valign">{{title}}</h1>
                        <h5 class="header col s8 light">{{message}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>