{{>top}}
{{> section_nav}}

<div class="container">
    <div class="section">
    <div class="row">
        <div class="col s12 m8 offset-m2 l10 ">
            <section id="goal"><h1>But du projet</h1></section>
            <section id="desc"><h1>Description</h1></section>
            <section id="techno"><h1>Technologies utilisées</h1></section>
        </div>
        <div class="col hide-on-small-only s12 m3 l2">
            <div style="height: 1px;">
                <ul class="section table-of-contents pinned" style="top: 0px;">                    
                    <li><a href="#goal" class="">But du projet</a></li>
                    <li><a href="#desc" class="">Description</a></li>
                    <li><a href="#techno" class="">Technologies</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

{{>bottom}}