<footer class="orange">
            <div class="container">
                Made by <a href="http://materializecss.com">Materialize</a>
            </div>
        </footer>
        <!--  Scripts-->
        <script src="asset/js/jquery-2.1.1.min.js"></script>
        <script src="asset/js/jquery-ui.min.js"></script>
        <script src="asset/js/materialize.js"></script>
        <script src="asset/js/scrollspy.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="asset/js/index.js"></script>
    </body>
</html>