<footer class="page-footer {{nav-color}}">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">{{#i18n}}footer.find_me{{/i18n}}</h5>
                <a href="http://fr.linkedin.com/in/vcarmignac"><img src="media/images/linkedin.png" height="32px" width="32px"></a>
                <a href="mailto:valentin.carmignac@gmail.com"><img src="media/images/gmail.png" height="32px" width="32px"></a>
            </div>
            <div class="col l4 offset-l2 s12 white-text">
                <h5 class="white-text">Language</h5>
                <a id="fr" class="a-btn locale grey-text text-lighten-3">Français</a> | <a id="en" class="a-btn locale grey-text text-lighten-3">English</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2015, Valentin Carmignac
            <span class="right">{{#i18n}}footer.author{{/i18n}}<a class="grey-text text-lighten-4" href="http://materializecss.com/">Materialize</a></span>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="asset/js/jquery-2.1.1.min.js"></script>
<script src="asset/js/jquery-ui.min.js"></script>
<script src="asset/js/materialize.js"></script>
<script src="asset/js/scrollspy.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
<script src="asset/js/index.js"></script>
</body>
</html>