<div id="banner" class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{parallax}}"></div>
    <div class="container ">
        <h1 class="header valign light center white-text"><i>{{ title }}</i></h1>
    </div>
</div>
<div id="navbar">
    <a data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light button-collapse btn-flat {{nav-color}}"><i class="large mdi-navigation-arrow-forward"></i></a>
</div>
<ul id="slide-out" class="side-nav full">
    <li><a href="./"><i class="mdi-action-home right"></i>{{#i18n}}accueil.title{{/i18n}}</a></li>
    <li><a href="./experience"><i class="amber-text accent-2-text mdi-action-explore right"></i>{{#i18n}}resume.title{{/i18n}}</a></li>
    <li><a href="./projets"><i class="green-text accent-4-text mdi-action-extension right"></i>{{#i18n}}project.title{{/i18n}}</a></li>
    <li><a href="./loisirs"><i class="red-text darken-1-text mdi-action-favorite right"></i>{{#i18n}}loisirs.title{{/i18n}}</a></li>
</ul>