<div id="banner" class="parallax-container">
    <div class="parallax"><img src="asset/images/{{parallax}}"></div>
</div>
<div id="navbar">
    <a data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light button-collapse btn-flat {{nav-color}}"><i class="large mdi-navigation-arrow-forward"></i></a>
</div>
<ul id="slide-out" class="side-nav full">
    <li><a href="./"><i class="mdi-action-home right"></i>Accueil</a></li>
    <li><a href="./experience"><i class="amber-text accent-2-text mdi-action-explore right"></i>Curriculum Vitae</a></li>
    <li><a href="./projets"><i class="teal-text accent-3-text mdi-action-extension right"></i>Projets</a></li>
    <li><a href="./loisirs"><i class="green-text accent-4-text mdi-action-favorite right"></i>Loisirs</a></li>
    <li><a href="./credit"><i class="mdi-action-thumb-up right"></i>Credits</a></li>
</ul>